<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>kontaktuj nas</h1>

        <form method="get">
        <label for="name">email:</label> <br>
        <input type="text" id="name" name="jinja_name" placeholder="Your name" autofocus> <br>

        <label for="message">Message:</label> <br>
        <textarea name="message" id="message"></textarea> <br> <br>

        <button>Submit form</button>
    </form>

</body>
</html>